.news-container{
    width: 100%;
    height:97%;
   
}

.news-header{
background-color: blue;
width: 100%;
height: 60%;
background-repeat: no-repeat;
background-size: cover;
background-position: center;


border-radius: 1rem 1rem 0 0;
}
.news-header-img{
    width: 100%;
    height: 100%;
    overflow:hidden ;
    border-radius: 1rem 1rem 0 0;
}
.news-title{
    position: relative;
    bottom: 9rem;
    background-color: rgba(0, 0, 0, 0.74);
    padding: 0.5rem;
}

.news-title-txt{
font-size: 1rem;
letter-spacing: 0.03em;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
line-height: 1.2rem;
}
.news-date{

}
.news{
background-color: #ffff;
color:  #272727;
text-align: justify;
height: 40%;
padding: 1rem;
font-size: 0.9rem;
line-height: 1.3rem;
border-radius:  0 0 1rem 1rem;
}
.news-txt{

}